header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2{
    color: var(--txt-high-contrast);
    font-weight: 700;
}
header button{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    transition: all .3s ease-in-out;
}
header button span{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--txt-low-contrast);
    letter-spacing: 2px;
}
header button:hover span{
    color: var(--theme-switch-btn-hover);
}
header button:hover svg path{
    fill: var(--theme-switch-btn-hover);
}

